version: "3.9"

services:

  db:
    image: postgres:14
    container_name: invoicing-db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 2s
      timeout: 5s
      retries: 10

  fastapi-app:
    build: .
    container_name: invoicing-api
    restart: always
    ports:
      - "8080:8080"
    volumes:
      - ./app:/code/app
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy

volumes:
  db-data: